{% load static %}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <title>MUHAMMET</title>
    <link rel="stylesheet" href="{% static "/css/style.css" %}"> 
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>  
    <style>
    </style>   
</head>

<body>
    <header>

        <table style="margin-left: auto; margin-right: auto;" border="0">
            <tr>
                <td colspan="2" style="text-align: center; position: relative;">
                    <a href="#" onclick="changePage('anasayfa')">
                        <img src="{% static "/img/buton.png" %}" alt="Buton Resmi" width="160" height="50">
                        <div class="overlay-text">ANASAYFA</div>
                    </a>
                </td>
    
                <td colspan="2" style="text-align: center; position: relative;">
                    <a href="#" onclick="changePage('chat')">
                        <img src="{% static "/img/buton.png" %}" alt="Buton Resmi" width="160" height="50">
                        <div class="overlay-text">CHAT</div>
                    </a>
                </td>
    
                <td colspan="2" style="text-align: center; position: relative;">
                    <a href="#" onclick="changePage('oyun')">
                        <img src="{% static "/img/buton.png" %}" alt="Buton Resmi" width="160" height="50">
                        <div class="overlay-text">OYUN</div>
                    </a>
                </td>
    
                <td colspan="2" style="text-align: center; position: relative;">
                    <a href="#" onclick="changePage('profil')">
                        <img src="{% static "/img/buton.png" %}" alt="Buton Resmi" width="160" height="50">
                        <div class="overlay-text">PROFİL</div>
                    </a>
                </td>
    
        </table>
        
    </header>

        <main id="content">
                    
        </main>
        
    <script src="{% static '/js/script.js' %}"></script>
  
</body>

</html>
