/* -------------------------login start-------------------------*/
.login {
  background-color: rgba(255, 12, 12, 0.5 );

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  width: 300px;
  text-align: center;
  
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #e2e2e2;
  
}

label {
  font-weight: bold;
  font-size: 20px;
  font-weight:900;
  color: #ebfc06;
}

input {
  padding: 8px;
  border: 1px solid #0514e0;
  border-radius: 4px;
  font-size: 20px;
  font-weight:900;
  color: #000000;
  
}

button {
  background-color: #e31e10;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  
}

button:hover {
  background-color: #000000c9;
}

/* -------------------------login end-------------------------*/

#pong {
    border: 2px solid #FFF;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.start-button {
  display: inline-block;
  overflow: hidden;
  background-color: transparent; /* şeffaf arka plan */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.profil-backgraund
{
  background-image:url('img/background.jpg'); 
  background-position: center center;
  width: 100%;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  color: #030303;
  
}

.container-profil {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  background-color: rgba(255, 12, 12, 0.6 );
  border-radius: 200px;
  margin-top:5%;

}
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: block;
  border: 3px solid #90e606;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.profile-info {
  text-align: center;
}
.profile-info p {
  margin: 20px 0;
}
.profile-info p strong {
  font-size: 20px;
  font-weight:900;
  color: #020101;
}
.profile-info p span {
  color: #cec3c3;
}


.button-and-background {
 
  justify-content: center; /* Yatayda merkezi hizala */
  align-items: center; /* Dikeyde merkezi hizala */
  height: 100vh;
  background-image:url('img/background.jpg'); 
  background-position: center center;
  width: 100%;
  background-size: cover;
  
}

.container {
display: flex;
flex-direction: column; /* İçeriği dikey sütun olarak düzenle */
justify-content: center; /* Dikeyde merkezi hizala */ /* Yatayda merkezi hizala */
height: 100%;
width: 100%; /* Dikeyde ortala */
}

#back-button-container {                                            /* GERİ BUTONU AYARLARI BACK */
position: fixed; /* Butonu sabit bir konumda tutar */
top: 50%; /* Ekrannın dikey ortasına koyar */
right: 50px; /* Sağ kenardan 10px içeride */
transform: translateY(-50%); /* Butonu tam dikey ortaya alır */
z-index: 1000; /* Butonu en üstte tutar */
}

#back-button {                                                    /* GERİ BUTONU AYARLARI BACK */
padding: 10px 20px; /* Buton boyutu */
font-weight: 900;
font-size: 35px;
background-color: #302f2f; /* Buton arkaplan rengi */
color: rgb(179, 24, 24); /* Buton yazı rengi */
border: none; /* Kenarlık kaldırılır */
cursor: pointer; /* İmleç, üzerine gelindiğinde değişir */
border-radius: 35px; /* Buton kenar yuvarlaklığı */
}

.hexagon-menu {
display: flex; /* Flex container olarak ayarla */
flex-wrap: wrap; /* Öğeler sığmadığında alt satıra geç */
justify-content: center; /* Yatayda ortala */
align-items: center; /* Dikeyde ortala */
justify-content: center; /* Yatayda ortala */
height: 110hv; /* Yüksekliği otomatik ayarla */
padding: 0; /* Padding’i sıfırla */
}
.hexagon-item {
cursor: pointer;
width: 200px;
height: 173.20508px;
float: left;
left: 297px;  /* ortadaki menüyü sağa kaydırma ayarı */
z-index: 0;
position: relative;
-webkit-transform: rotate(30deg);
-moz-transform: rotate(30deg);
-ms-transform: rotate(30deg);
-o-transform: rotate(30deg);
transform: rotate(30deg) translate(-50%); }
.hexagon-item:first-child {
  margin-left: 0; }
.hexagon-item:hover {
  z-index: 1; }
  .hexagon-item:hover .hex-item:last-child {
    opacity: 1;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3); }
  .hexagon-item:hover .hex-item:first-child {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
    .hexagon-item:hover .hex-item:first-child div:before,
    .hexagon-item:hover .hex-item:first-child div:after {
      height: 5px; }
  .hexagon-item:hover .hex-item div::before,
  .hexagon-item:hover .hex-item div::after {
    background-color: #c21c1c; }

.hex-item {
position: absolute;
top: 0;
left: 50px;
width: 100px;
height: 173.20508px; }
.hex-item:first-child {
  z-index: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
.hex-item:last-child {
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1; }
.hex-item div {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100px;
  height: 173.20508px;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center; }
  .hex-item div::before, .hex-item div::after {
    background-color: #1e2530;
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
  .hex-item div:before {
    top: 0; }
  .hex-item div:after {
    bottom: 0; }
  .hex-item div:nth-child(1) {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  .hex-item div:nth-child(2) {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg); }
  .hex-item div:nth-child(3) {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg); }

.hex-content {
color: #d41616;
display: block;
height: 180px;
margin: 0 auto;
position: relative;
text-align: center;
transform: rotate(-30deg);
width: 156px; }
.hex-content .hex-content-inner {
  left: 50%;
  margin: -3px 0 0 2px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.hex-content .icon {
  display: block;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 11px; }
.hex-content .title {
  display: block;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight:900;
  text-transform: uppercase; }
.hex-content svg {
  left: -7px;
  position: absolute;
  top: -13px;
  transform: scale(0.87);
  z-index: -1;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
.hex-content:hover {
  color: #8fe408; }


.hexagon-item:hover .title
{
-webkit-animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/***************************/

@-webkit-keyframes focus-in-contract {
0% {
  letter-spacing: 1em;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  opacity: 0;
}
100% {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  opacity: 1;
}
}
@keyframes focus-in-contract {
0% {
  letter-spacing: 1em;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  opacity: 0;
}
100% {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  opacity: 1;
}
}
