.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 196, 0);
    font-size: 20px;
    font-weight: bold;
}


header { /* ÜST BAR */
   /* background-image: url('img/ust.png'); */
    background-size:cover;
    border: 1px solid rgb(0, 0, 0);
    background-color: #000000; /* Bar arka plan rengi */
    color: rgb(0, 0, 0); /* Bar metin rengi */
    text-align: center; /* Metni ortala */
    background-repeat: no-repeat;
}

body {
    margin: 0;
	/*background-image: url('img/back2.png'); /* Arka plan resmi ekleyin */
    background-color:rgb(170, 170, 157);
	background-size:cover; /* Resmi kaplamak için */
	background-position-x: center;
    background-position-y:-300px;
	background-repeat: no-repeat; /* Resmi tekrar etmemek için */
    text-align: center;
    color: rgb(8, 8, 8); /* chat */
}


